# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
**/build/
android/app/build/
android/local.properties
android/key.properties
android/keystore.jks
android/app/keystore.jks

# iOS (ถ้าเคย build)
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.vscode/
.idea/
*.iml

# Misc
*.log
# Environment files
.env
.env.*
